body {
    background: black
}

.banner {
    background-color: teal;
    margin-top: -25px;
    width: inherit;
}

.title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.card {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin: auto;
    background: linear-gradient(162deg, rgb(14, 174, 248) 0%, rgba(4, 245, 105, 0.69) 100%);
    border-radius: 10px;
}

.card-title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: aliceblue;
}

.card-input {
    border-radius: 20px;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin-left: 45px;
}

.buttons {
    margin-top: 10px;
}

input[type="button"] {
    background: lightGray;
    border-color: lightGray;
    width: 20%;
    font-size: 20px;
    font-weight: 900;
    border-radius: 7px;
    margin-left: 15px;
    margin-top: 30px;
    height: 50px;
}

input[type="button"]:active {
    background-color: #3e8e41;
    border-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type="button"]:hover {
    background-color: #1170af;
    border-color: #1170af;
    color: white;
}